### .gitignore
#
# Defines which files are to be allowed as a part of the project. Instead of
# denying specific folder and/or files, this file first denies EVERYTHING, and
# then specifically allows for wanted files and file types with an exclamation
# mark ! at the start of each allowed pattern.
#

## Disallow everything.

*

## Allow specific files.

!.gitignore

!.gitattributes

!README.md

!LICENSE

!CONTRIBUTING.md

!CHANGELOG.md

!LATEX_SETUP.md

!LATEST_RELEASE.md

!tauthesis.cls

!titlepage.tex

!preamble.tex

!set-pdf-version.tex

!main.tex

!metadata.tex

!index.tex

!.latexmkrc

!compile.sh

!.vscode/
!.vscode/*.json

!.github/
!.github/*.yml
!.github/*.md
!.github/workflows/
!.github/workflows/*.yml

## Allow file types in subdirectories.

!frontmatter/
!frontmatter/*.tex

!mainmatter/
!mainmatter/*.tex

!appendices/
!appendices/*.tex

!publications/
!publications/index.tex
!publications/article*.pdf
!publications/publications.bib

!code/
!code/*.c
!code/*.cc
!code/*.cpp
!code/*.h
!code/*.hh
!code/*.jl
!code/*.js
!code/*.json
!code/*.m
!code/*.py
!code/*.rs
!code/*.toml
!code/*.ts
!code/*.yaml
!code/*.yml
!code/*.zig

!figures/
!figures/**/*.eps
!figures/**/*.jpg
!figures/**/*.pdf
!figures/**/*.png

!diagrams/
!diagrams/*.tex
!diagrams/*.pu

!fonts/
!fonts/FiraMono/
!fonts/FiraMono/FiraMono-*.ttf
!fonts/FiraMono/OFL.txt
!fonts/NotoSansSymbols2/
!fonts/NotoSansSymbols2/NotoSansSymbols2*.ttf
!fonts/NotoSansSymbols2/OFL.txt
!fonts/Roboto/
!fonts/Roboto/Roboto*.ttf
!fonts/Roboto/OFL.txt
!fonts/STIXTwo/
!fonts/STIXTwo/STIXTwo*.ttf
!fonts/STIXTwo/OFL.txt

# Disallow PDF figures automatically generated from EPS via epstopdf. Only the
# original EPS figures should be in the repository to avoid repetition.

figures/**/*-eps-converted-to.pdf
